body {
  margin:0px;
  background-color:rgba(199, 207, 209, 1);
  background-image:none;
  position:static;
  left:auto;
  width:242px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:139px;
}
#u1509 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:131px;
  width:133px;
  height:139px;
}
#u1509_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1510 {
  position:fixed;
  left:0px;
  top:0px;
  width:376px;
  height:72px;
  overflow:hidden;
}
#u1510_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:72px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1510_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1511 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1512 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:27px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1513 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:27px;
}
#u1513_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1514_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:11px;
}
#u1514 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:8px;
  width:361px;
  height:11px;
}
#u1514_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1515 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1516 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u1517 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:27px;
  width:376px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u1517_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:376px;
  word-wrap:break-word;
}
#u1518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  color:#1ABC9C;
  text-align:left;
}
#u1518 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:27px;
  width:100px;
  height:45px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  color:#1ABC9C;
  text-align:left;
}
#u1518_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  color:#1ABC9C;
  text-align:left;
}
#u1518.mouseDown {
}
#u1518_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:78px;
  word-wrap:break-word;
}
