body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:847px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:847px;
  height:289px;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15px;
  width:847px;
  height:289px;
}
#u1222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
