
#u16669 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:1237px;
  width:1px;
  height:44px;
}
#u16669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u16670 {
  border-width:0px;
  position:absolute;
  left:768px;
  top:815px;
  width:16px;
  height:12px;
}
#u16670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u16671 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:814px;
  width:16px;
  height:12px;
}
#u16671_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:2px;
}
#u16672 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:1154px;
  width:424px;
  height:1px;
}
#u16672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:2px;
}
#u16673 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:1198px;
  width:423px;
  height:1px;
}
#u16673_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:2px;
}
#u16674 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:1111px;
  width:424px;
  height:1px;
}
#u16674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:2px;
}
#u16675 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:1065px;
  width:424px;
  height:1px;
}
#u16675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16676_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:450px;
}
#u16676 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:802px;
  width:3px;
  height:447px;
  -webkit-transform:rotate(20deg);
  -moz-transform:rotate(20deg);
  -ms-transform:rotate(20deg);
  transform:rotate(20deg);
}
#u16676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u16677 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:1010px;
  width:80px;
  height:15px;
  -webkit-transform:rotate(290deg);
  -moz-transform:rotate(290deg);
  -ms-transform:rotate(290deg);
  transform:rotate(290deg);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u16677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u16678_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:451px;
}
#u16678 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:802px;
  width:3px;
  height:448px;
  -webkit-transform:rotate(21deg);
  -moz-transform:rotate(21deg);
  -ms-transform:rotate(21deg);
  transform:rotate(21deg);
}
#u16678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u16679 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:1012px;
  width:80px;
  height:15px;
  -webkit-transform:rotate(290deg);
  -moz-transform:rotate(290deg);
  -ms-transform:rotate(290deg);
  transform:rotate(290deg);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u16679_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u16680_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:452px;
}
#u16680 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:800px;
  width:3px;
  height:449px;
  -webkit-transform:rotate(19deg);
  -moz-transform:rotate(19deg);
  -ms-transform:rotate(19deg);
  transform:rotate(19deg);
}
#u16680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u16681 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:1043px;
  width:15px;
  height:15px;
  -webkit-transform:rotate(290deg);
  -moz-transform:rotate(290deg);
  -ms-transform:rotate(290deg);
  transform:rotate(290deg);
  font-size:12px;
  color:#FF0000;
}
#u16681_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u16682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u16682 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:1049px;
  width:15px;
  height:15px;
  -webkit-transform:rotate(290deg);
  -moz-transform:rotate(290deg);
  -ms-transform:rotate(290deg);
  transform:rotate(290deg);
  font-size:12px;
  color:#FF0000;
}
#u16682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u16683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u16683 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:1049px;
  width:15px;
  height:15px;
  -webkit-transform:rotate(290deg);
  -moz-transform:rotate(290deg);
  -ms-transform:rotate(290deg);
  transform:rotate(290deg);
  font-size:12px;
  color:#FF0000;
}
#u16683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u16684 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:2px;
}
#u16685 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:850px;
  width:9px;
  height:1px;
}
#u16685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#3BB19C;
}
#u16686 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:844px;
  width:22px;
  height:13px;
  font-size:10px;
  color:#3BB19C;
}
#u16686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u16687 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:2px;
}
#u16688 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:895px;
  width:9px;
  height:1px;
}
#u16688_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#3BB19C;
}
#u16689 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:889px;
  width:22px;
  height:13px;
  font-size:10px;
  color:#3BB19C;
}
#u16689_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u16690 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:2px;
}
#u16691 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:938px;
  width:9px;
  height:1px;
}
#u16691_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#3BB19C;
}
#u16692 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:932px;
  width:22px;
  height:13px;
  font-size:10px;
  color:#3BB19C;
}
#u16692_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u16693 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:2px;
}
#u16694 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:984px;
  width:9px;
  height:1px;
}
#u16694_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#3BB19C;
}
#u16695 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:978px;
  width:22px;
  height:13px;
  font-size:10px;
  color:#3BB19C;
}
#u16695_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u16696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:2px;
}
#u16697 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:1026px;
  width:9px;
  height:1px;
}
#u16697_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#3BB19C;
}
#u16698 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:1020px;
  width:22px;
  height:13px;
  font-size:10px;
  color:#3BB19C;
}
#u16698_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u16699 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:2px;
}
#u16700 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:1065px;
  width:9px;
  height:1px;
}
#u16700_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#3BB19C;
}
#u16701 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:1059px;
  width:22px;
  height:13px;
  font-size:10px;
  color:#3BB19C;
}
#u16701_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u16702 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:2px;
}
#u16703 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:1111px;
  width:9px;
  height:1px;
}
#u16703_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#3BB19C;
}
#u16704 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:1105px;
  width:22px;
  height:13px;
  font-size:10px;
  color:#3BB19C;
}
#u16704_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u16705 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:2px;
}
#u16706 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:1154px;
  width:9px;
  height:1px;
}
#u16706_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#3BB19C;
}
#u16707 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:1148px;
  width:22px;
  height:13px;
  font-size:10px;
  color:#3BB19C;
}
#u16707_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u16708 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:2px;
}
#u16709 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:1198px;
  width:9px;
  height:1px;
}
#u16709_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#3BB19C;
}
#u16710 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:1192px;
  width:22px;
  height:13px;
  font-size:10px;
  color:#3BB19C;
}
#u16710_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u16711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u16711 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:1225px;
  width:16px;
  height:12px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u16711_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u16712 {
  border-width:0px;
  position:absolute;
  left:768px;
  top:1226px;
  width:16px;
  height:12px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u16712_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
