body {
  margin:0px;
  background-color:rgba(246, 247, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:541px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:267px;
}
#u10220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:267px;
}
#u10220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
