body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:327px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:522px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:35px;
  width:329px;
  height:522px;
}
#u457_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:35px;
  background:inherit;
  background-color:rgba(79, 193, 176, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:329px;
  height:35px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u458_text {
  border-width:0px;
  position:absolute;
  left:35px;
  top:8px;
  width:292px;
  word-wrap:break-word;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:8px;
  width:10px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u460_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:39px;
  height:35px;
}
#u461_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:135px;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:101px;
  width:135px;
  height:135px;
}
#u463_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:135px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:101px;
  width:135px;
  height:135px;
}
#u464_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:124px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:331px;
  width:156px;
  height:124px;
  font-size:28px;
  color:#FFFFFF;
}
#u465_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:152px;
  word-wrap:break-word;
}
