body {
  margin:0px;
  background-color:rgba(26, 188, 156, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1074px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:fixed;
  left:-20px;
  top:50%;
  margin-top:-350px;
  width:1100px;
  height:700px;
  overflow:hidden;
}
#u0_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:700px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/登录界面/u0_state0.png');
  background-position:right top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:2000px 360px;
}
#u0_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:fixed;
  left:50%;
  margin-left:-210px;
  top:50%;
  margin-top:-316px;
}
#u1_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:420px;
  height:572px;
  background-image:none;
}
#u1_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:415px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:157px;
  width:420px;
  height:415px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:446px;
  width:300px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3.mouseOver {
  opacity:0.8;
}
#u3_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3.mouseDown {
  opacity:1;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:296px;
  word-wrap:break-word;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:376px;
  width:300px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:transparent;
  text-align:right;
}
#u5_img.selected {
}
#u5.selected {
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:288px;
  word-wrap:break-word;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:381px;
  width:215px;
  height:40px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:40px;
  background-color:transparent;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1ABC9C;
  text-align:right;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:381px;
  width:38px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1ABC9C;
  text-align:right;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:306px;
  width:300px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:transparent;
  text-align:right;
}
#u9_img.selected {
}
#u9.selected {
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:311px;
  width:215px;
  height:40px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:40px;
  background-color:transparent;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1ABC9C;
  text-align:right;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:311px;
  width:38px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1ABC9C;
  text-align:right;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:319px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:24px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:389px;
  width:19px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:60px;
  top:506px;
  visibility:hidden;
}
#u14_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background-image:none;
}
#u14_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:260px;
  word-wrap:break-word;
}
#u14_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  visibility:hidden;
  background-image:none;
}
#u14_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:260px;
  word-wrap:break-word;
}
#u14_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  visibility:hidden;
  background-image:none;
}
#u14_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:260px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:75px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:189px;
  width:420px;
  height:75px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#1ABC9C;
  line-height:36px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:416px;
  word-wrap:break-word;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:135px;
  height:147px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:-1px;
  width:115px;
  height:127px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:101px;
  height:74px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:30px;
  width:81px;
  height:54px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:119px;
  top:267px;
}
#u22_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background-image:none;
}
#u22_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  visibility:hidden;
  background-image:none;
}
#u22_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00CCFF;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  color:#00CCFF;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:244px;
  top:267px;
}
#u25_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background-image:none;
}
#u25_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u25_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  visibility:hidden;
  background-image:none;
}
#u25_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00CCFF;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  color:#00CCFF;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:224px;
  height:5px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:294px;
  width:221px;
  height:2px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:97px;
  height:5px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:294px;
  width:94px;
  height:2px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:97px;
  height:5px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:294px;
  width:94px;
  height:2px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:246px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:306px;
  width:300px;
  height:246px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:fixed;
  left:50%;
  margin-left:-550px;
  bottom:0px;
}
#u32_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1100px;
  height:100px;
  background-image:none;
}
#u32_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:101px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1096px;
  word-wrap:break-word;
}
