body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u30082 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  overflow:hidden;
}
#u30082_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(243, 243, 243, 1);
  background-image:none;
}
#u30082_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u30083 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:1100px;
  height:1px;
  overflow:hidden;
}
#u30083_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u30083_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u30084_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u30084 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:188px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u30084_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u30084.selected {
}
#u30084_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-1px;
  width:176px;
  word-wrap:break-word;
}
#u30086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:101px;
}
#u30086 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:364px;
  width:1100px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u30086_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1096px;
  word-wrap:break-word;
}
#u30089_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u30089 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:10px;
  width:80px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u30089_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u30089.mouseOver {
}
#u30089_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u30090 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u30091 {
  border-width:0px;
  position:absolute;
  left:1031px;
  top:20px;
  width:15px;
  height:13px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u30091_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u30092 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:16px;
  width:15px;
  height:13px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u30092_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:28px;
}
#u30093 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:1100px;
  height:50px;
  text-align:left;
  line-height:28px;
}
#u30093_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:1078px;
  word-wrap:break-word;
}
#u30094 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:119px;
  width:1081px;
  height:245px;
}
#u30095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:45px;
}
#u30095 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u30095_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:162px;
  word-wrap:break-word;
}
#u30096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:45px;
}
#u30096 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:0px;
  width:166px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u30096_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:162px;
  word-wrap:break-word;
}
#u30097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:45px;
}
#u30097 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:0px;
  width:166px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u30097_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:162px;
  word-wrap:break-word;
}
#u30098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:45px;
}
#u30098 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:0px;
  width:174px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u30098_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:170px;
  word-wrap:break-word;
}
#u30099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:45px;
}
#u30099 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:0px;
  width:224px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u30099_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:220px;
  word-wrap:break-word;
}
#u30100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:45px;
}
#u30100 {
  border-width:0px;
  position:absolute;
  left:896px;
  top:0px;
  width:185px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u30100_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:181px;
  word-wrap:break-word;
}
#u30101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:50px;
}
#u30101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:166px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u30101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:164px;
  word-wrap:break-word;
}
#u30102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:50px;
}
#u30102 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:45px;
  width:166px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u30102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:164px;
  word-wrap:break-word;
}
#u30103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:50px;
}
#u30103 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:45px;
  width:166px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u30103_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:162px;
  word-wrap:break-word;
}
#u30104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:50px;
}
#u30104 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:45px;
  width:174px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u30104_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:170px;
  word-wrap:break-word;
}
#u30105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:50px;
}
#u30105 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:45px;
  width:224px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u30105_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:220px;
  word-wrap:break-word;
}
#u30106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:50px;
}
#u30106 {
  border-width:0px;
  position:absolute;
  left:896px;
  top:45px;
  width:185px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u30106_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:181px;
  word-wrap:break-word;
}
#u30108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:50px;
}
#u30108 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:95px;
  width:166px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u30108_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:164px;
  word-wrap:break-word;
}
#u30109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:50px;
}
#u30109 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:95px;
  width:166px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u30109_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:164px;
  word-wrap:break-word;
}
#u30110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:50px;
}
#u30110 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:95px;
  width:166px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u30110_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:162px;
  word-wrap:break-word;
}
#u30111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:50px;
}
#u30111 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:95px;
  width:174px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u30111_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:170px;
  word-wrap:break-word;
}
#u30112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:50px;
}
#u30112 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:95px;
  width:224px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u30112_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:220px;
  word-wrap:break-word;
}
#u30113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:50px;
}
#u30113 {
  border-width:0px;
  position:absolute;
  left:896px;
  top:95px;
  width:185px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u30113_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:181px;
  word-wrap:break-word;
}
#u30115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:50px;
}
#u30115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:145px;
  width:166px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u30115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:164px;
  word-wrap:break-word;
}
#u30116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:50px;
}
#u30116 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:145px;
  width:166px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u30116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:164px;
  word-wrap:break-word;
}
#u30117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:50px;
}
#u30117 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:145px;
  width:166px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u30117_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:162px;
  word-wrap:break-word;
}
#u30118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:50px;
}
#u30118 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:145px;
  width:174px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u30118_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:170px;
  word-wrap:break-word;
}
#u30119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:50px;
}
#u30119 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:145px;
  width:224px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u30119_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:220px;
  word-wrap:break-word;
}
#u30120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:50px;
}
#u30120 {
  border-width:0px;
  position:absolute;
  left:896px;
  top:145px;
  width:185px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u30120_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:181px;
  word-wrap:break-word;
}
#u30122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:50px;
}
#u30122 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:195px;
  width:166px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u30122_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:164px;
  word-wrap:break-word;
}
#u30123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:50px;
}
#u30123 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:195px;
  width:166px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u30123_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:164px;
  word-wrap:break-word;
}
#u30124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:50px;
}
#u30124 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:195px;
  width:166px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u30124_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:162px;
  word-wrap:break-word;
}
#u30125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:50px;
}
#u30125 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:195px;
  width:174px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u30125_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:170px;
  word-wrap:break-word;
}
#u30126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:50px;
}
#u30126 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:195px;
  width:224px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u30126_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:220px;
  word-wrap:break-word;
}
#u30127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:50px;
}
#u30127 {
  border-width:0px;
  position:absolute;
  left:896px;
  top:195px;
  width:185px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u30127_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:181px;
  word-wrap:break-word;
}
#u30129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u30129 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:80px;
  width:80px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u30129_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u30129.mouseOver {
}
#u30129_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
