body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21744 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21745 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:676px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:36px;
}
#u21746 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:198px;
  width:920px;
  height:676px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:36px;
}
#u21746_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21747 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:676px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:36px;
}
#u21748 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:198px;
  width:181px;
  height:676px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:36px;
}
#u21748_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u21749 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:230px;
  width:200px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u21749_img.selected {
}
#u21749.selected {
}
#u21749_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:178px;
  word-wrap:break-word;
}
#u21751 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  overflow:hidden;
}
#u21751_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(243, 243, 243, 1);
  background-image:none;
}
#u21751_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21752 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:1100px;
  height:1px;
  overflow:hidden;
}
#u21752_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u21752_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u21753 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:188px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u21753_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u21753.selected {
}
#u21753_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-1px;
  width:176px;
  word-wrap:break-word;
}
#u21754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#1ABC9C;
  text-align:center;
  line-height:20px;
}
#u21754 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:129px;
  width:111px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#1ABC9C;
  text-align:center;
  line-height:20px;
}
#u21754_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  word-wrap:break-word;
}
#u21755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u21755 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:230px;
  width:200px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u21755_img.selected {
}
#u21755.selected {
}
#u21755_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:178px;
  word-wrap:break-word;
}
#u21757 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  overflow:hidden;
}
#u21757_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(243, 243, 243, 1);
  background-image:none;
}
#u21757_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21758 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:1100px;
  height:1px;
  overflow:hidden;
}
#u21758_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u21758_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u21759 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:188px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u21759_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u21759.selected {
}
#u21759_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-1px;
  width:176px;
  word-wrap:break-word;
}
#u21761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:101px;
}
#u21761 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:874px;
  width:1100px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u21761_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1096px;
  word-wrap:break-word;
}
#u21763_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:898px;
  height:5px;
}
#u21763 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:95px;
  width:895px;
  height:2px;
  font-size:16px;
  color:#999999;
}
#u21763_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u21764 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:72px;
  width:47px;
  height:47px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u21764_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:43px;
  word-wrap:break-word;
}
#u21765_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:461px;
  height:5px;
}
#u21765 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:95px;
  width:458px;
  height:2px;
  font-size:16px;
  color:#999999;
}
#u21765_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u21766 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:129px;
  width:119px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u21766_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:2px;
  width:107px;
  word-wrap:break-word;
}
#u21767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u21767 {
  border-width:0px;
  position:absolute;
  left:962px;
  top:129px;
  width:98px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u21767_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:94px;
  word-wrap:break-word;
}
#u21768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u21768 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:70px;
  width:47px;
  height:47px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u21768_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:43px;
  word-wrap:break-word;
}
#u21769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u21769 {
  border-width:0px;
  position:absolute;
  left:987px;
  top:70px;
  width:47px;
  height:47px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
}
#u21769_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:43px;
  word-wrap:break-word;
}
#u21770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u21770 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:783px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u21770_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u21770.mouseOver {
  opacity:0.8;
}
#u21770_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:35px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u21770.mouseDown {
  opacity:1;
}
#u21770_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u21771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u21771 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:783px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u21771_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u21771.mouseOver {
}
#u21771_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u21772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  height:51px;
}
#u21772 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:681px;
  width:830px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u21772_img.selected {
}
#u21772.selected {
}
#u21772_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21773 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:290px;
  width:850px;
  height:465px;
}
#u21774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:45px;
}
#u21774 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u21774_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u21775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:45px;
}
#u21775 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:0px;
  width:102px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u21775_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u21776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:45px;
}
#u21776 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:0px;
  width:197px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u21776_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:193px;
  word-wrap:break-word;
}
#u21777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:45px;
}
#u21777 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:0px;
  width:120px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u21777_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u21778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:45px;
}
#u21778 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:0px;
  width:108px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u21778_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:104px;
  word-wrap:break-word;
}
#u21779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:45px;
}
#u21779 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:0px;
  width:119px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u21779_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:115px;
  word-wrap:break-word;
}
#u21780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:45px;
}
#u21780 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:0px;
  width:102px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u21780_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u21781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:60px;
}
#u21781 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:102px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u21781_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:98px;
  word-wrap:break-word;
}
#u21782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:60px;
}
#u21782 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:45px;
  width:102px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21782_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u21783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:60px;
}
#u21783 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:45px;
  width:197px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21783_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:185px;
  word-wrap:break-word;
}
#u21784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u21784 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:45px;
  width:120px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21784_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:108px;
  word-wrap:break-word;
}
#u21785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:60px;
}
#u21785 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:45px;
  width:108px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21785_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u21786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:60px;
}
#u21786 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:45px;
  width:119px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21786_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:107px;
  word-wrap:break-word;
}
#u21787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:60px;
}
#u21787 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:45px;
  width:102px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21787_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:90px;
  word-wrap:break-word;
}
#u21788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:60px;
}
#u21788 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:102px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u21788_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:98px;
  word-wrap:break-word;
}
#u21789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:60px;
}
#u21789 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:105px;
  width:102px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21789_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u21790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:60px;
}
#u21790 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:105px;
  width:197px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21790_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:185px;
  word-wrap:break-word;
}
#u21791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u21791 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:105px;
  width:120px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21791_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:108px;
  word-wrap:break-word;
}
#u21792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:60px;
}
#u21792 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:105px;
  width:108px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21792_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u21793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:60px;
}
#u21793 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:105px;
  width:119px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21793_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:107px;
  word-wrap:break-word;
}
#u21794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:60px;
}
#u21794 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:105px;
  width:102px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21794_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:90px;
  word-wrap:break-word;
}
#u21795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:60px;
}
#u21795 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:165px;
  width:102px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u21795_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:98px;
  word-wrap:break-word;
}
#u21796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:60px;
}
#u21796 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:165px;
  width:102px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21796_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u21797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:60px;
}
#u21797 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:165px;
  width:197px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21797_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:185px;
  word-wrap:break-word;
}
#u21798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u21798 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:165px;
  width:120px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21798_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:108px;
  word-wrap:break-word;
}
#u21799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:60px;
}
#u21799 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:165px;
  width:108px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21799_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u21800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:60px;
}
#u21800 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:165px;
  width:119px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21800_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:107px;
  word-wrap:break-word;
}
#u21801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:60px;
}
#u21801 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:165px;
  width:102px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21801_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:90px;
  word-wrap:break-word;
}
#u21802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:60px;
}
#u21802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:225px;
  width:102px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u21802_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:98px;
  word-wrap:break-word;
}
#u21803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:60px;
}
#u21803 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:225px;
  width:102px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21803_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u21804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:60px;
}
#u21804 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:225px;
  width:197px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21804_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:185px;
  word-wrap:break-word;
}
#u21805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u21805 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:225px;
  width:120px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21805_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:108px;
  word-wrap:break-word;
}
#u21806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:60px;
}
#u21806 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:225px;
  width:108px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21806_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u21807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:60px;
}
#u21807 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:225px;
  width:119px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21807_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:107px;
  word-wrap:break-word;
}
#u21808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:60px;
}
#u21808 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:225px;
  width:102px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21808_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:90px;
  word-wrap:break-word;
}
#u21809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:60px;
}
#u21809 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:285px;
  width:102px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u21809_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:98px;
  word-wrap:break-word;
}
#u21810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:60px;
}
#u21810 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:285px;
  width:102px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21810_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u21811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:60px;
}
#u21811 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:285px;
  width:197px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21811_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:185px;
  word-wrap:break-word;
}
#u21812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u21812 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:285px;
  width:120px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21812_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:108px;
  word-wrap:break-word;
}
#u21813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:60px;
}
#u21813 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:285px;
  width:108px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21813_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u21814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:60px;
}
#u21814 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:285px;
  width:119px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21814_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:107px;
  word-wrap:break-word;
}
#u21815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:60px;
}
#u21815 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:285px;
  width:102px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21815_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:90px;
  word-wrap:break-word;
}
#u21816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:60px;
}
#u21816 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:345px;
  width:102px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u21816_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:98px;
  word-wrap:break-word;
}
#u21817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:60px;
}
#u21817 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:345px;
  width:102px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21817_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u21818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:60px;
}
#u21818 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:345px;
  width:197px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21818_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:185px;
  word-wrap:break-word;
}
#u21819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u21819 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:345px;
  width:120px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21819_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:108px;
  word-wrap:break-word;
}
#u21820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:60px;
}
#u21820 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:345px;
  width:108px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21820_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u21821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:60px;
}
#u21821 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:345px;
  width:119px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21821_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:107px;
  word-wrap:break-word;
}
#u21822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:60px;
}
#u21822 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:345px;
  width:102px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21822_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:90px;
  word-wrap:break-word;
}
#u21823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:60px;
}
#u21823 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:405px;
  width:102px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u21823_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:98px;
  word-wrap:break-word;
}
#u21824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:60px;
}
#u21824 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:405px;
  width:102px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21824_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u21825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:60px;
}
#u21825 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:405px;
  width:197px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21825_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:185px;
  word-wrap:break-word;
}
#u21826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u21826 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:405px;
  width:120px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21826_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:108px;
  word-wrap:break-word;
}
#u21827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:60px;
}
#u21827 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:405px;
  width:108px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21827_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u21828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:60px;
}
#u21828 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:405px;
  width:119px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21828_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:107px;
  word-wrap:break-word;
}
#u21829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:60px;
}
#u21829 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:405px;
  width:102px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u21829_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:90px;
  word-wrap:break-word;
}
#u21830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:60px;
}
#u21830 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:230px;
  width:850px;
  height:60px;
  text-align:left;
  line-height:40px;
}
#u21830_img.selected {
}
#u21830.selected {
}
#u21830_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:846px;
  word-wrap:break-word;
}
