body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:732px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u96_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:17px;
  width:91px;
  height:28px;
  color:#5E5E5E;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:87px;
  word-wrap:break-word;
}
#u97_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:76px;
  width:35px;
  height:18px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u98_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体';
  font-style:normal;
  line-height:20px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:108px;
  width:661px;
  height:140px;
  font-family:'宋体';
  font-style:normal;
  line-height:20px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  white-space:nowrap;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:296px;
  width:109px;
  height:31px;
}
#u99_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#AEAEAE;
}
#u99_input:disabled {
  color:grayText;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:296px;
  width:196px;
  height:31px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:298px;
  width:186px;
  height:27px;
}
#u102_input {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:31px;
  background:inherit;
  background-color:rgba(51, 179, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:296px;
  width:66px;
  height:31px;
  font-size:14px;
  color:#FFFFFF;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:406px;
  width:71px;
  height:20px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u104_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u104.mouseOver {
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
