body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:467px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:36px;
}
#u8690 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:1100px;
  height:467px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:36px;
}
#u8690_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8693 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  overflow:hidden;
}
#u8693_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(243, 243, 243, 1);
  background-image:none;
}
#u8693_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8694 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:1100px;
  height:1px;
  overflow:hidden;
}
#u8694_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u8694_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u8695 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:188px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u8695_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u8695.selected {
}
#u8695_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-1px;
  width:176px;
  word-wrap:break-word;
}
#u8697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:101px;
}
#u8697 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:618px;
  width:1100px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u8697_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1096px;
  word-wrap:break-word;
}
#u8700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u8700 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:10px;
  width:80px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u8700_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u8700.mouseOver {
}
#u8700_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u8701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u8701 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:17px;
  width:10px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u8701_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u8702 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:1100px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u8702_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:1078px;
  word-wrap:break-word;
}
#u8703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u8703 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:170px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u8703_img.selected {
}
#u8703.selected {
}
#u8703_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u8704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
  text-align:left;
}
#u8704 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:171px;
  width:240px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
  text-align:left;
}
#u8704_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u8705_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8705 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:453px;
  width:80px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8705_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8705.mouseOver {
  opacity:0.8;
}
#u8705_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8705.mouseDown {
  opacity:1;
}
#u8705_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u8706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u8706 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:359px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u8706_img.selected {
}
#u8706.selected {
}
#u8706_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u8707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8707 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:359px;
  width:153px;
  height:40px;
  color:#999999;
}
#u8707_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u8708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u8708 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:399px;
  width:459px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u8708_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:457px;
  word-wrap:break-word;
}
#u8709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u8709 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:248px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u8709_img.selected {
}
#u8709.selected {
}
#u8709_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u8710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
  text-align:left;
}
#u8710 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:226px;
  width:240px;
  height:111px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
  text-align:left;
}
#u8710_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:2px;
  width:226px;
  word-wrap:break-word;
}
