body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:328px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:557px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1372 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:557px;
}
#u1372_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:306px;
}
#u1373 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:73px;
  width:298px;
  height:306px;
}
#u1373_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:48px;
}
#u1374 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:0px;
  width:53px;
  height:48px;
}
#u1374_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1375 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:416px;
  width:102px;
  height:32px;
}
#u1375_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u1376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:379px;
  width:193px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u1376_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
