body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1994px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1994px;
  height:50px;
  overflow:hidden;
}
#u18_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1994px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1992px;
  height:50px;
  overflow:hidden;
}
#u19_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1992px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(26, 188, 156, 0.898039215686275);
  background-image:none;
}
#u19_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1992px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(52, 152, 219, 1);
  background-image:none;
}
#u19_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1992px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(237, 110, 77, 1);
  background-image:none;
}
#u19_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1992px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(250, 187, 61, 1);
  background-image:none;
}
#u19_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19_state4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1992px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(170, 122, 179, 1);
  background-image:none;
}
#u19_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19_state5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1992px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(154, 208, 185, 1);
  background-image:none;
}
#u19_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19_state6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1992px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(234, 148, 190, 1);
  background-image:none;
}
#u19_state6_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19_state7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1992px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(193, 55, 74, 1);
  background-image:none;
}
#u19_state7_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:1366px;
  height:2px;
  overflow:hidden;
}
#u20_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:2px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 0.2);
  background-image:none;
}
#u20_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:33px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:30px;
  height:33px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:16px;
  width:21px;
  height:14px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:500px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u24_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u24.selected {
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:500px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:1572px;
  top:0px;
}
#u25_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:420px;
  height:50px;
  background-image:none;
}
#u25_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26 {
  position:absolute;
  left:0px;
  top:50px;
  visibility:hidden;
}
#u26_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:420px;
  height:100px;
  background-image:none;
}
#u26_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
}
#u27 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:0px;
  width:114px;
  height:51px;
}
#u27_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
}
#u27.mouseOver {
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:110px;
  word-wrap:break-word;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
}
#u28 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:49px;
  width:114px;
  height:51px;
}
#u28_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
}
#u28.mouseOver {
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:110px;
  word-wrap:break-word;
}
#u26_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:306px;
  height:100px;
  visibility:hidden;
  background-image:none;
}
#u26_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
}
#u29 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:0px;
  width:114px;
  height:51px;
}
#u29_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
}
#u29.mouseOver {
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:110px;
  word-wrap:break-word;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
}
#u30 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:49px;
  width:114px;
  height:51px;
}
#u30_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
}
#u30.mouseOver {
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:110px;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:51px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:0px;
  width:114px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:12px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:19px;
  width:54px;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:10px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:62px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:-1px;
  width:114px;
  height:51px;
  color:#FFFFFF;
}
#u33_img.mouseOver {
}
#u33.mouseOver {
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:110px;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:62px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:-1px;
  width:114px;
  height:51px;
  color:#FFFFFF;
}
#u34_img.mouseOver {
}
#u34.mouseOver {
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:110px;
  word-wrap:break-word;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:1977px;
  height:1234px;
}
#u35_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1977px;
  height:1234px;
  overflow:auto;
}
