body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1379px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1379px;
  height:596px;
  background:inherit;
  background-color:rgba(0, 51, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1379px;
  height:596px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:594px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:2px;
  width:708px;
  height:594px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:298px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:298px;
  width:402px;
  height:298px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:298px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:298px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:597px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:2px;
  width:3px;
  height:594px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:597px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:2px;
  width:3px;
  height:594px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:148px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:2px;
  width:170px;
  height:148px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:150px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:149px;
  width:170px;
  height:150px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:296px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:300px;
  width:269px;
  height:296px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:299px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:2px;
  width:269px;
  height:299px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1382px;
  height:6px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:298px;
  width:1379px;
  height:3px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:50px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:519px;
  width:125px;
  height:50px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
