body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-88px;
  width:200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2394 {
  position:fixed;
  left:50%;
  margin-left:-187.5px;
  top:0px;
  width:375px;
  height:45px;
  overflow:hidden;
}
#u2394_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(70, 76, 91, 1);
  background-image:none;
}
#u2394_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(70, 76, 91, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2395 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2395_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  word-wrap:break-word;
}
#u2396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u2396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  color:#FFFFFF;
  text-align:left;
}
#u2396_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u2396.mouseDown {
}
#u2396_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:78px;
  word-wrap:break-word;
}
#u2397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u2397 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:235px;
  width:200px;
  height:200px;
}
#u2397_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2398 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:683px;
  width:194px;
  height:40px;
}
#u2398_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:190px;
  word-wrap:break-word;
}
