body {
  margin:0px;
  background-color:rgba(246, 247, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:557px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:557px;
  height:401px;
}
#u21139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:557px;
  height:401px;
}
#u21139_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21140 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:323px;
  width:90px;
  height:25px;
  opacity:0;
}
#u21140_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
