body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:682px;
}
#u2394 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:682px;
}
#u2394_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
