body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:795px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:17px;
  width:91px;
  height:28px;
  color:#5E5E5E;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:87px;
  word-wrap:break-word;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:74px;
  width:733px;
  height:312px;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:30px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:0px;
  width:614px;
  height:30px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:610px;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:119px;
  height:30px;
  text-align:left;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:30px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:30px;
  width:614px;
  height:30px;
  text-align:left;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:610px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:119px;
  height:36px;
  text-align:left;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:36px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:60px;
  width:614px;
  height:36px;
  text-align:left;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:610px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:119px;
  height:36px;
  text-align:left;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:36px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:96px;
  width:614px;
  height:36px;
  text-align:left;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:610px;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:132px;
  width:119px;
  height:36px;
  text-align:left;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:36px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:132px;
  width:614px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:610px;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:168px;
  width:119px;
  height:36px;
  text-align:left;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:36px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:168px;
  width:614px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:610px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:204px;
  width:119px;
  height:36px;
  text-align:left;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:36px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:204px;
  width:614px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:610px;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:119px;
  height:36px;
  text-align:left;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:36px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:240px;
  width:614px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:610px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:276px;
  width:119px;
  height:36px;
  text-align:left;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:36px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:276px;
  width:614px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:610px;
  word-wrap:break-word;
}
