body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:263px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2848 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:96px;
  background:inherit;
  background-color:rgba(86, 165, 253, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2849 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:120px;
  width:147px;
  height:96px;
}
#u2849_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u2850 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:120px;
  width:64px;
  height:64px;
}
#u2850_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2851 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:190px;
  width:118px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2851_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:114px;
  word-wrap:break-word;
}
#u2852 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:96px;
  background:inherit;
  background-color:rgba(86, 165, 253, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2853 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:270px;
  width:147px;
  height:96px;
}
#u2853_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u2854 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:270px;
  width:64px;
  height:64px;
}
#u2854_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2855 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:340px;
  width:114px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2855_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:110px;
  word-wrap:break-word;
}
#u2856 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:96px;
  background:inherit;
  background-color:rgba(86, 165, 253, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2857 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:420px;
  width:147px;
  height:96px;
}
#u2857_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2858 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:491px;
  width:116px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2858_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  word-wrap:break-word;
}
#u2859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:60px;
}
#u2859 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:421px;
  width:64px;
  height:60px;
}
#u2859_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2860 {
  position:fixed;
  left:0px;
  bottom:0px;
  width:375px;
  height:59px;
  overflow:hidden;
}
#u2860_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:59px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2860_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  line-height:22px;
}
#u2861 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  line-height:22px;
}
#u2861_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  line-height:22px;
}
#u2861.selected {
}
#u2861_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u2862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  line-height:22px;
}
#u2862 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:0px;
  width:133px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  line-height:22px;
}
#u2862_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  line-height:22px;
}
#u2862.selected {
}
#u2862_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:133px;
  word-wrap:break-word;
}
#u2863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  line-height:22px;
}
#u2863 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:0px;
  width:114px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  line-height:22px;
}
#u2863_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  line-height:22px;
}
#u2863.selected {
}
#u2863_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u2864 {
  position:fixed;
  left:0px;
  top:0px;
  width:376px;
  height:27px;
  overflow:hidden;
}
#u2864_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:27px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2864_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2865 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:27px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2866 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:27px;
}
#u2866_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:11px;
}
#u2867 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:8px;
  width:361px;
  height:11px;
}
#u2867_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
