body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-20px;
  width:335px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1069 {
  position:fixed;
  left:50%;
  margin-left:-187.5px;
  top:0px;
  width:375px;
  height:45px;
  overflow:hidden;
}
#u1069_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(70, 76, 91, 1);
  background-image:none;
}
#u1069_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1070_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(70, 76, 91, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1070_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  word-wrap:break-word;
}
#u1071_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u1071 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  color:#FFFFFF;
  text-align:left;
}
#u1071_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u1071.mouseDown {
}
#u1071_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:78px;
  word-wrap:break-word;
}
#u1072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:389px;
}
#u1072 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:156px;
  width:301px;
  height:389px;
}
#u1072_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1073 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1074_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1074 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:648px;
  width:152px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1074_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 160, 133, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1074.mouseDown {
}
#u1074_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:148px;
  word-wrap:break-word;
}
#u1075_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u1075 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:648px;
  width:152px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u1075_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u1075.mouseDown {
}
#u1075_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:148px;
  word-wrap:break-word;
}
#u1076_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u1076 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:71px;
  width:335px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u1076_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:335px;
  word-wrap:break-word;
}
#u1077_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u1077 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:103px;
  width:335px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u1077_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:335px;
  word-wrap:break-word;
}
#u1078_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:30px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1078 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:103px;
  width:255px;
  height:30px;
  text-align:left;
}
#u1078_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:251px;
  word-wrap:break-word;
}
#u1079_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:30px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1079 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:71px;
  width:255px;
  height:30px;
  text-align:left;
}
#u1079_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:251px;
  word-wrap:break-word;
}
#u1080_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1080 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:105px;
  width:113px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1080_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1080.mouseDown {
}
#u1080_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:109px;
  word-wrap:break-word;
}
