body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:355px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u611 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:82px;
  width:87px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u611_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  line-height:36px;
}
#u612 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:104px;
  width:124px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  line-height:36px;
}
#u612_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:347px;
}
#u613 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:144px;
  width:335px;
  height:347px;
}
#u613_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u614 {
  position:fixed;
  right:10px;
  bottom:30px;
}
#u614_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:158px;
  height:45px;
  background-image:none;
}
#u614_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:45px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u615 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u615_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:45px;
  background:inherit;
  background-color:rgba(22, 160, 133, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u615.mouseDown {
}
#u615_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u616 {
  position:fixed;
  left:0px;
  top:0px;
  width:376px;
  height:72px;
  overflow:hidden;
}
#u616_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:72px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u616_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:27px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:27px;
}
#u619_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:11px;
}
#u620 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:8px;
  width:361px;
  height:11px;
}
#u620_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u621 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u622 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u623 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:27px;
  width:376px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u623_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:376px;
  word-wrap:break-word;
}
#u624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  color:#1ABC9C;
  text-align:left;
}
#u624 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:27px;
  width:100px;
  height:45px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  color:#1ABC9C;
  text-align:left;
}
#u624_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  color:#1ABC9C;
  text-align:left;
}
#u624.mouseDown {
}
#u624_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:78px;
  word-wrap:break-word;
}
