body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24395 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:355px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:36px;
}
#u24396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:119px;
  width:1100px;
  height:355px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:36px;
}
#u24396_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24397 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24399 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  overflow:hidden;
}
#u24399_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(243, 243, 243, 1);
  background-image:none;
}
#u24399_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24400 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:1100px;
  height:1px;
  overflow:hidden;
}
#u24400_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u24400_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u24401 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:188px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u24401_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u24401.selected {
}
#u24401_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-1px;
  width:176px;
  word-wrap:break-word;
}
#u24403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:101px;
}
#u24403 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:474px;
  width:1100px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u24403_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1096px;
  word-wrap:break-word;
}
#u24405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:61px;
}
#u24405 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:183px;
  width:711px;
  height:61px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
  line-height:40px;
}
#u24405_img.selected {
}
#u24405.selected {
}
#u24405_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:707px;
  word-wrap:break-word;
}
#u24406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24406 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:302px;
  width:202px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24406_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24406.mouseOver {
  opacity:0.8;
}
#u24406_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:35px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24406.mouseDown {
  opacity:1;
}
#u24406_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:198px;
  word-wrap:break-word;
}
#u24407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u24407 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:1100px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u24407_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:1078px;
  word-wrap:break-word;
}
#u24408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24408 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:302px;
  width:202px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24408_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24408.mouseOver {
  opacity:0.8;
}
#u24408_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:35px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24408.mouseDown {
  opacity:1;
}
#u24408_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:198px;
  word-wrap:break-word;
}
