body {
  margin:0px;
  background-color:rgba(246, 247, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:416px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:320px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u22268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:320px;
  line-height:20px;
}
#u22268_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  word-wrap:break-word;
}
