body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19033 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19034_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:343px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:36px;
}
#u19034 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:119px;
  width:1100px;
  height:343px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:36px;
}
#u19034_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19035 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19037 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  overflow:hidden;
}
#u19037_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(243, 243, 243, 1);
  background-image:none;
}
#u19037_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:1100px;
  height:1px;
  overflow:hidden;
}
#u19038_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u19038_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u19039 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:188px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u19039_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u19039.selected {
}
#u19039_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-1px;
  width:176px;
  word-wrap:break-word;
}
#u19041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:101px;
}
#u19041 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:462px;
  width:1100px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u19041_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1096px;
  word-wrap:break-word;
}
#u19044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u19044 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:10px;
  width:80px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u19044_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u19044.mouseOver {
}
#u19044_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u19045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u19045 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:17px;
  width:10px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u19045_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19046 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:377px;
  width:80px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19046_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19046.mouseOver {
  opacity:0.8;
}
#u19046_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19046.mouseDown {
  opacity:1;
}
#u19046_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u19047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u19047 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:169px;
  width:240px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u19047_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:40px;
}
#u19048 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:169px;
  width:209px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u19048_img.selected {
}
#u19048.selected {
}
#u19048_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:197px;
  word-wrap:break-word;
}
#u19049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u19049 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:219px;
  width:152px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u19049_img.selected {
}
#u19049.selected {
}
#u19049_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u19050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u19050 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:221px;
  width:240px;
  height:109px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u19050_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u19051 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:1100px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u19051_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:1078px;
  word-wrap:break-word;
}
