body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:-59px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:712px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:712px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:302px;
  width:366px;
  height:104px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:-472px;
  top:313px;
  width:358px;
  height:176px;
}
#u42_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:176px;
  overflow:hidden;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:19px;
  width:77px;
  height:17px;
  font-size:15px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:19px;
  width:57px;
  height:17px;
  font-size:15px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u44_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:19px;
  width:57px;
  height:17px;
  font-size:15px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u45_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:46px;
  width:207px;
  height:28px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u46_input:disabled {
  color:grayText;
}
#u47_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:52px;
  width:77px;
  height:17px;
  font-size:15px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:84px;
  width:207px;
  height:28px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u48_input:disabled {
  color:grayText;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:90px;
  width:77px;
  height:17px;
  font-size:15px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:122px;
  width:207px;
  height:28px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u50_input:disabled {
  color:grayText;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:128px;
  width:77px;
  height:17px;
  font-size:15px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:160px;
  width:207px;
  height:28px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u52_input:disabled {
  color:grayText;
}
#u53_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  text-align:center;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:166px;
  width:77px;
  height:17px;
  font-size:15px;
  text-align:center;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:204px;
  width:84px;
  height:17px;
  font-size:15px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:200px;
  width:116px;
  height:25px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u56_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:204px;
  width:84px;
  height:17px;
  font-size:15px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u57_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:243px;
  width:58px;
  height:17px;
  font-size:15px;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:239px;
  width:302px;
  height:25px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:668px;
  width:75px;
  height:27px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  word-wrap:break-word;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:668px;
  width:75px;
  height:27px;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  word-wrap:break-word;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:463px;
  width:383px;
  height:187px;
}
#u62_input {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:187px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u63_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:187px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:463px;
  width:21px;
  height:187px;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:443px;
  width:90px;
  height:17px;
  font-size:15px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:309px;
  width:90px;
  height:17px;
  font-size:15px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:336px;
  width:64px;
  height:54px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:39px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:344px;
  width:38px;
  height:39px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
