body {
  margin:0px;
  background-color:rgba(246, 247, 249, 1);
  background-image:none;
  position:relative;
  left:-6px;
  width:424px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u1058 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u1059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1059 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:66px;
}
.u1059_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:420px;
  word-wrap:break-word;
}
.u1060_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
  background:inherit;
  background-color:rgba(188, 39, 44, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
.u1060 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:17px;
  width:66px;
  height:32px;
  color:#FFFFFF;
}
.u1060_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
.u1061 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u1062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1062 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:424px;
  height:66px;
}
.u1062_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:420px;
  word-wrap:break-word;
}
.u1063_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
  background:inherit;
  background-color:rgba(188, 39, 44, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
.u1063 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:83px;
  width:66px;
  height:32px;
  color:#FFFFFF;
}
.u1063_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
.u1064 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u1065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1065 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:132px;
  width:424px;
  height:66px;
}
.u1065_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:420px;
  word-wrap:break-word;
}
.u1066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
  background:inherit;
  background-color:rgba(188, 39, 44, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
.u1066 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:149px;
  width:66px;
  height:32px;
  color:#FFFFFF;
}
.u1066_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u1057-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:198px;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:10px;
  width:424px;
  height:198px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
