body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3117px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:1616px;
  width:337px;
  height:474px;
}
#u1069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:474px;
}
#u1069_ref {
  border-width:0px;
  position:absolute;
  left:728px;
  top:2080px;
  width:1px;
  height:1px;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:2141px;
  width:384px;
  height:362px;
}
#u1070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:362px;
}
#u1070_ref {
  border-width:0px;
  position:absolute;
  left:1185px;
  top:2493px;
  width:1px;
  height:1px;
}
#u1071 {
  border-width:0px;
  position:absolute;
  left:1209px;
  top:2784px;
  width:409px;
  height:815px;
}
#u1071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:815px;
}
#u1071_ref {
  border-width:0px;
  position:absolute;
  left:1610px;
  top:3589px;
  width:1px;
  height:1px;
}
#u1072_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1072 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:1996px;
  width:30px;
  height:30px;
}
#u1072_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1073 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:2011px;
  width:0px;
  height:0px;
}
#u1073_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:99px;
  height:8px;
}
#u1073_seg1 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:-4px;
  width:8px;
  height:319px;
}
#u1073_seg2 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:307px;
  width:23px;
  height:8px;
}
#u1073_text {
  border-width:0px;
  position:absolute;
  left:45px;
  top:110px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1074 {
  border-width:0px;
  position:absolute;
  left:935px;
  top:2414px;
  width:30px;
  height:30px;
}
#u1074_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1075_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1075 {
  border-width:0px;
  position:absolute;
  left:1129px;
  top:2444px;
  width:30px;
  height:30px;
}
#u1075_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1076 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:2414px;
  width:0px;
  height:0px;
}
#u1076_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-44px;
  width:8px;
  height:44px;
}
#u1076_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-44px;
  width:328px;
  height:8px;
}
#u1076_seg2 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:-44px;
  width:8px;
  height:89px;
}
#u1076_seg3 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:37px;
  width:53px;
  height:8px;
}
#u1076_text {
  border-width:0px;
  position:absolute;
  left:155px;
  top:-48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1077 {
  border-width:0px;
  position:absolute;
  left:1144px;
  top:2474px;
  width:0px;
  height:0px;
}
#u1077_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:722px;
}
#u1077_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:714px;
  width:69px;
  height:8px;
}
#u1077_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:384px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1078 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:1388px;
  width:422px;
  height:300px;
}
#u1078_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:300px;
}
#u1078_ref {
  border-width:0px;
  position:absolute;
  left:1229px;
  top:1678px;
  width:1px;
  height:1px;
}
#u1079_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1079 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:1900px;
  width:30px;
  height:30px;
}
#u1079_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1080 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:1915px;
  width:0px;
  height:0px;
}
#u1080_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:95px;
  height:8px;
}
#u1080_seg1 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:-381px;
  width:8px;
  height:385px;
}
#u1080_seg2 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:-381px;
  width:33px;
  height:8px;
}
#u1080_text {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-166px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1081 {
  border-width:0px;
  position:absolute;
  left:1377px;
  top:74px;
  width:486px;
  height:1376px;
}
#u1081_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:1376px;
}
#u1081_ref {
  border-width:0px;
  position:absolute;
  left:1855px;
  top:1440px;
  width:1px;
  height:1px;
}
#u1082 {
  border-width:0px;
  position:absolute;
  left:2013px;
  top:47px;
  width:363px;
  height:298px;
}
#u1082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:298px;
}
#u1082_ref {
  border-width:0px;
  position:absolute;
  left:2368px;
  top:335px;
  width:1px;
  height:1px;
}
#u1083 {
  border-width:0px;
  position:absolute;
  left:2043px;
  top:430px;
  width:419px;
  height:870px;
}
#u1083_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:870px;
}
#u1083_ref {
  border-width:0px;
  position:absolute;
  left:2454px;
  top:1290px;
  width:1px;
  height:1px;
}
#u1084 {
  border-width:0px;
  position:absolute;
  left:2706px;
  top:401px;
  width:411px;
  height:589px;
}
#u1084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:589px;
}
#u1084_ref {
  border-width:0px;
  position:absolute;
  left:3109px;
  top:980px;
  width:1px;
  height:1px;
}
#u1085_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1085 {
  border-width:0px;
  position:absolute;
  left:1833px;
  top:181px;
  width:30px;
  height:30px;
}
#u1085_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1086 {
  border-width:0px;
  position:absolute;
  left:1377px;
  top:1501px;
  width:486px;
  height:644px;
}
#u1086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:644px;
}
#u1086_ref {
  border-width:0px;
  position:absolute;
  left:1855px;
  top:2135px;
  width:1px;
  height:1px;
}
#u1087 {
  border-width:0px;
  position:absolute;
  left:2572px;
  top:1530px;
  width:389px;
  height:961px;
}
#u1087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:961px;
}
#u1087_ref {
  border-width:0px;
  position:absolute;
  left:2953px;
  top:2481px;
  width:1px;
  height:1px;
}
#u1088 {
  border-width:0px;
  position:absolute;
  left:1949px;
  top:1501px;
  width:419px;
  height:758px;
}
#u1088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:758px;
}
#u1088_ref {
  border-width:0px;
  position:absolute;
  left:2360px;
  top:2249px;
  width:1px;
  height:1px;
}
#u1089_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1089 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:1606px;
  width:30px;
  height:30px;
}
#u1089_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1090_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1090 {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:1606px;
  width:30px;
  height:30px;
}
#u1090_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1091 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:1606px;
  width:0px;
  height:0px;
}
#u1091_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-848px;
  width:8px;
  height:848px;
}
#u1091_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-848px;
  width:406px;
  height:8px;
}
#u1091_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-631px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1092 {
  border-width:0px;
  position:absolute;
  left:1863px;
  top:196px;
  width:0px;
  height:0px;
}
#u1092_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:154px;
  height:8px;
}
#u1092_text {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1093_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1093 {
  border-width:0px;
  position:absolute;
  left:1787px;
  top:430px;
  width:30px;
  height:30px;
}
#u1093_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1094 {
  border-width:0px;
  position:absolute;
  left:1817px;
  top:445px;
  width:0px;
  height:0px;
}
#u1094_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:159px;
  height:8px;
}
#u1094_seg1 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:-4px;
  width:8px;
  height:428px;
}
#u1094_seg2 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:416px;
  width:75px;
  height:8px;
}
#u1094_text {
  border-width:0px;
  position:absolute;
  left:105px;
  top:160px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1095_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1095 {
  border-width:0px;
  position:absolute;
  left:2233px;
  top:308px;
  width:30px;
  height:30px;
}
#u1095_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1096 {
  border-width:0px;
  position:absolute;
  left:2263px;
  top:323px;
  width:0px;
  height:0px;
}
#u1096_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:653px;
  height:8px;
}
#u1096_seg1 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:-4px;
  width:8px;
  height:82px;
}
#u1096_text {
  border-width:0px;
  position:absolute;
  left:314px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1097_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1097 {
  border-width:0px;
  position:absolute;
  left:2432px;
  top:681px;
  width:30px;
  height:30px;
}
#u1097_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1098 {
  border-width:0px;
  position:absolute;
  left:2462px;
  top:696px;
  width:0px;
  height:0px;
}
#u1098_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:248px;
  height:8px;
}
#u1098_text {
  border-width:0px;
  position:absolute;
  left:72px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1099 {
  border-width:0px;
  position:absolute;
  left:1193px;
  top:1621px;
  width:0px;
  height:0px;
}
#u1099_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:171px;
  height:8px;
}
#u1099_seg1 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:-4px;
  width:8px;
  height:210px;
}
#u1099_seg2 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:198px;
  width:21px;
  height:8px;
}
#u1099_text {
  border-width:0px;
  position:absolute;
  left:117px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1100_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1100 {
  border-width:0px;
  position:absolute;
  left:1623px;
  top:1763px;
  width:30px;
  height:30px;
}
#u1100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1101 {
  border-width:0px;
  position:absolute;
  left:1653px;
  top:1778px;
  width:0px;
  height:0px;
}
#u1101_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:260px;
  height:8px;
}
#u1101_seg1 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:-4px;
  width:8px;
  height:110px;
}
#u1101_seg2 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:98px;
  width:44px;
  height:8px;
}
#u1101_text {
  border-width:0px;
  position:absolute;
  left:149px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1102_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1102 {
  border-width:0px;
  position:absolute;
  left:2320px;
  top:1996px;
  width:30px;
  height:30px;
}
#u1102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1103 {
  border-width:0px;
  position:absolute;
  left:2350px;
  top:2011px;
  width:0px;
  height:0px;
}
#u1103_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:226px;
  height:8px;
}
#u1103_text {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1104 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:1482px;
  width:198px;
  height:278px;
}
#u1104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:278px;
}
#u1104_ref {
  border-width:0px;
  position:absolute;
  left:307px;
  top:1750px;
  width:1px;
  height:1px;
}
#u1105_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1105 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:1880px;
  width:30px;
  height:30px;
}
#u1105_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1106 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:1880px;
  width:0px;
  height:0px;
}
#u1106_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-14px;
  width:8px;
  height:14px;
}
#u1106_seg1 {
  border-width:0px;
  position:absolute;
  left:-81px;
  top:-14px;
  width:85px;
  height:8px;
}
#u1106_seg2 {
  border-width:0px;
  position:absolute;
  left:-81px;
  top:-263px;
  width:8px;
  height:257px;
}
#u1106_seg3 {
  border-width:0px;
  position:absolute;
  left:-138px;
  top:-263px;
  width:65px;
  height:8px;
}
#u1106_text {
  border-width:0px;
  position:absolute;
  left:-127px;
  top:-130px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1107 {
  border-width:0px;
  position:absolute;
  left:1209px;
  top:3635px;
  width:390px;
  height:168px;
}
#u1107_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:370px;
  word-wrap:break-word;
}
#u1108 {
  border-width:0px;
  position:absolute;
  left:1319px;
  top:2155px;
  width:315px;
  height:600px;
}
#u1108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:600px;
}
#u1108_ref {
  border-width:0px;
  position:absolute;
  left:1626px;
  top:2745px;
  width:1px;
  height:1px;
}
#u1109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1109 {
  border-width:0px;
  position:absolute;
  left:1644px;
  top:2542px;
  width:141px;
  height:42px;
}
#u1109_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
