body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2190 {
  position:fixed;
  left:50%;
  margin-left:-187.5px;
  top:0px;
  width:375px;
  height:45px;
  overflow:hidden;
}
#u2190_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(70, 76, 91, 1);
  background-image:none;
}
#u2190_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(70, 76, 91, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2191_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  word-wrap:break-word;
}
#u2192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u2192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  color:#FFFFFF;
  text-align:left;
}
#u2192_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u2192.mouseDown {
}
#u2192_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:78px;
  word-wrap:break-word;
}
#u2193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:375px;
  height:667px;
  overflow:hidden;
  touch-action:pan-y;
}
#u2193_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2193_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#999999;
  line-height:36px;
}
#u2194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:227px;
  width:375px;
  height:70px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#999999;
  line-height:36px;
}
#u2194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:375px;
  word-wrap:break-word;
}
#u2195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u2195 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:297px;
  width:200px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u2195_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u2195.mouseDown {
}
#u2195_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u2196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:105px;
}
#u2196 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:122px;
  width:105px;
  height:105px;
  opacity:0.3;
}
#u2196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
