body {
  margin:0px;
  background-color:rgba(26, 188, 156, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1074px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:fixed;
  left:-20px;
  top:50%;
  margin-top:-350px;
  width:1100px;
  height:700px;
  overflow:hidden;
}
#u0_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:700px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/登录界面/u0_state0.png');
  background-position:right top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:2000px 360px;
}
#u0_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:fixed;
  left:50%;
  margin-left:-210px;
  top:50%;
  margin-top:-316px;
}
#u1_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:420px;
  height:572px;
  background-image:none;
}
#u1_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:415px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:157px;
  width:420px;
  height:415px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:75px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:189px;
  width:420px;
  height:75px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#1ABC9C;
  line-height:36px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:416px;
  word-wrap:break-word;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:135px;
  height:147px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:-1px;
  width:115px;
  height:127px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:101px;
  height:74px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:30px;
  width:81px;
  height:54px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:182px;
  top:270px;
}
#u7_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
  background-image:none;
}
#u7_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:57px;
  height:16px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
  visibility:hidden;
  background-image:none;
}
#u7_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00CCFF;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:57px;
  height:16px;
  color:#00CCFF;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:224px;
  height:5px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:294px;
  width:221px;
  height:2px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:224px;
  height:5px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:294px;
  width:221px;
  height:2px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:97px;
  height:5px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:294px;
  width:94px;
  height:2px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:246px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:306px;
  width:300px;
  height:246px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:fixed;
  left:50%;
  margin-left:-550px;
  bottom:0px;
}
#u14_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1100px;
  height:100px;
  background-image:none;
}
#u14_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:101px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1096px;
  word-wrap:break-word;
}
