body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2430 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:375px;
  height:667px;
  overflow:hidden;
  touch-action:pan-y;
}
#u2430_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2430_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#999999;
  line-height:36px;
}
#u2431 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:227px;
  width:375px;
  height:70px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#999999;
  line-height:36px;
}
#u2431_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:375px;
  word-wrap:break-word;
}
#u2432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u2432 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:297px;
  width:200px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u2432_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u2432.mouseDown {
}
#u2432_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u2433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:105px;
}
#u2433 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:122px;
  width:105px;
  height:105px;
  opacity:0.3;
}
#u2433_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2434 {
  position:fixed;
  left:-1px;
  top:0px;
  width:376px;
  height:72px;
  overflow:hidden;
}
#u2434_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:72px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2434_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2435 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2436 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:27px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2437 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:27px;
}
#u2437_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:11px;
}
#u2438 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:8px;
  width:361px;
  height:11px;
}
#u2438_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2439 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2440 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u2441 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:27px;
  width:376px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u2441_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:376px;
  word-wrap:break-word;
}
#u2442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  color:#1ABC9C;
  text-align:left;
}
#u2442 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:27px;
  width:100px;
  height:45px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  color:#1ABC9C;
  text-align:left;
}
#u2442_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  color:#1ABC9C;
  text-align:left;
}
#u2442.mouseDown {
}
#u2442_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:78px;
  word-wrap:break-word;
}
