.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
  line-height:normal;
}
._默认样式 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.image {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.heading_1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
._文本链接 {
  color:#0000FF;
}
.line {
}
.arrow {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
._流程形状 {
  color:#333333;
}
.table_cell {
}
._连接线 {
  color:#333333;
}
.icon {
}
.sticky_1 {
  text-align:left;
}
._图片 {
  color:#000000;
}
.flow_shape {
}
._鼠标悬停文本链接时 {
}
._鼠标按下文本链接时 {
}
.line1 {
}
._表格 {
}
._文本段落 {
  text-align:left;
}
._图片1 {
  color:#000000;
}
._文本框 {
  color:#000000;
  text-align:left;
}
._下拉列表框 {
  color:#000000;
  text-align:left;
}
._形状 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
}
._单选按钮 {
  text-align:left;
}
._水平线 {
}
._文本框1 {
  color:#000000;
  text-align:left;
}
.box_1 {
}
.box_11 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
