body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:static;
  left:auto;
  width:356px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:96px;
  background:inherit;
  background-color:rgba(40, 146, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:410px;
  width:147px;
  height:96px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:410px;
  width:64px;
  height:64px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:21px;
  background:inherit;
  background-color:rgba(40, 146, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:480px;
  width:103px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:99px;
  word-wrap:break-word;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:96px;
  background:inherit;
  background-color:rgba(40, 146, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:287px;
  width:147px;
  height:96px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:287px;
  width:64px;
  height:64px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:21px;
  background:inherit;
  background-color:rgba(40, 146, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:357px;
  width:103px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:99px;
  word-wrap:break-word;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:96px;
  background:inherit;
  background-color:rgba(40, 146, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:287px;
  width:147px;
  height:96px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:287px;
  width:64px;
  height:64px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:21px;
  background:inherit;
  background-color:rgba(40, 146, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:357px;
  width:103px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:99px;
  word-wrap:break-word;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:96px;
  background:inherit;
  background-color:rgba(40, 146, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:410px;
  width:147px;
  height:96px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:410px;
  width:64px;
  height:64px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:21px;
  background:inherit;
  background-color:rgba(40, 146, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:480px;
  width:103px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:99px;
  word-wrap:break-word;
}
#u16 {
  position:fixed;
  left:-25px;
  top:0px;
  width:400px;
  height:72px;
  overflow:hidden;
}
#u16_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:72px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:27px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:27px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:11px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:8px;
  width:384px;
  height:11px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:27px;
  width:386px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:386px;
  word-wrap:break-word;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  color:#1ABC9C;
  text-align:left;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:27px;
  width:103px;
  height:45px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  color:#1ABC9C;
  text-align:left;
}
#u24_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  color:#1ABC9C;
  text-align:left;
}
#u24.mouseDown {
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:81px;
  word-wrap:break-word;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:138px;
  background:inherit;
  background-color:rgba(96, 109, 171, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:3px 5px 6px rgba(148, 148, 148, 0.349019607843137);
  -webkit-box-shadow:3px 5px 6px rgba(148, 148, 148, 0.349019607843137);
  box-shadow:3px 5px 6px rgba(148, 148, 148, 0.349019607843137);
}
#u25 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:90px;
  width:295px;
  height:138px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:114px;
  width:121px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:151px;
  width:196px;
  height:16px;
  color:#FFFFFF;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:35px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:193px;
  width:148px;
  height:35px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:35px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:193px;
  width:148px;
  height:35px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:36px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:195px;
  width:53px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:36px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:36px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:195px;
  width:53px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:36px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:36px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:193px;
  width:1px;
  height:35px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:21px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:203px;
  width:17px;
  height:21px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:203px;
  width:20px;
  height:20px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
